.item {
    &__content {
        display: flex;
        width: 100%;
        margin-top: 1rem;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        height: 6rem;
        padding: 1.7rem 2rem;
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
        z-index: 1;
        cursor: pointer;

        &:first-child {
            margin-top: 0rem;
        }

        img {
            width: 4.4rem;
        }

        span {
            font-family: 'Lato';
            font-weight: 500;
            color: #353535;
            line-height: 2.64rem;
        }
    }
}